<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.disdikdki.ide_disdik">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IDEdisdik">
        <activity
            android:name=".JpSmkActivity"
            android:exported="false" />
        <activity
            android:name=".JpSmaActivity"
            android:exported="false" />
        <activity
            android:name=".JpSmpActivity"
            android:exported="false" />
        <activity
            android:name=".JpSlbActivity"
            android:exported="false" />
        <activity
            android:name=".JpSdActivity"
            android:exported="false" />
        <activity
            android:name=".JpPkbmActivity"
            android:exported="false" />
        <activity
            android:name=".JpPaudActivity"
            android:exported="false" />
        <activity
            android:name=".DataDinasPrasardikActivity"
            android:exported="false" />
        <activity
            android:name=".DataDinasSmkActivity"
            android:exported="false" />
        <activity
            android:name=".DataDinasSmpsmaActivity"
            android:exported="false" />
        <activity
            android:name=".DataDinasSdActivity"
            android:exported="false" />
        <activity
            android:name=".DataDinasPaudActivity"
            android:exported="false" />
        <activity
            android:name=".DataDinasPpActivity"
            android:exported="false" />
        <activity
            android:name=".DataDinasPtkActivity"
            android:exported="false" />
        <activity
            android:name=".DataDinasSekdisActivity"
            android:exported="false" />
        <activity
            android:name=".DataUptActivity"
            android:exported="false" />
        <activity
            android:name=".DataSudinActivity"
            android:exported="false" />
        <activity
            android:name=".DataDinasActivity"
            android:exported="false" />
        <activity
            android:name=".FindByDistrictActivity"
            android:exported="false" />
        <activity
            android:name=".FindByNameActivity"
            android:exported="false" />
        <activity
            android:name=".SekolahP1000Activity"
            android:exported="false" />
        <activity
            android:name=".SekolahJakbarActivity"
            android:exported="false" />
        <activity
            android:name=".SekolahJaktimActivity"
            android:exported="false" />
        <activity
            android:name=".SekolahJakselActivity"
            android:exported="false" />
        <activity
            android:name=".SekolahJakutActivity"
            android:exported="false" />
        <activity
            android:name=".SekolahJakpusActivity"
            android:exported="false" />
        <activity
            android:name=".DataSkpdActivity"
            android:exported="false" />
        <activity
            android:name=".DataRekapActivity"
            android:exported="false" />
        <activity
            android:name=".DataSekolahActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>